.AttributesAccordion {
    padding: 3px 0;
}

.AttributesAccordion pre {
    display: inline;
}

.AttributesAccordion .accordion-title {
    font-size: 1.15rem;
    font-weight: 700;
    cursor: pointer;
    color: var(--lightGreen);
    height: 20px;
    padding-top: 10px;
}

.AttributesAccordion .accordion-wrapper {
    overflow: hidden;
    overflow-y: scroll;
    /* transition: height .5s; */
    padding-left: 20px;
}

.AttributesAccordion .accordion-wrapper .accordion-content {
    max-width: 1000px;
    overflow: hidden;
    font-size: .95rem;
}

.AttributesAccordion .unactive {
    height: 0;
}

.AttributesAccordion *::-webkit-scrollbar {
    width: 0;
}

/* desktop gui */
@media (min-width: 1281px) {

    .AttributesAccordion .accordion-title {
        font-size: 1.8rem;
    }

    .AttributesAccordion .accordion-wrapper .accordion-content {
        font-size: 1.1rem;
        max-width: 1200px;
    }

    .AttributesAccordion .accordion-wrapper {
        padding-left: 40px;
    }
}