.ClassAccordion {
    padding: 3px 0;
    padding-bottom: 15px;
    font-weight: 500;
}

.ClassAccordion .keyWord {
    color: var(--teal);
    display: inline-block;
    height: fit-content;
}

.ClassAccordion pre {
    display: inline;
}

.ClassAccordion .accordion-title {
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
    color: var(--accordionColor);
    display: inline-block;
    height: fit-content;
    width: 100%;
    word-break: break-all;
}

.ClassAccordion .accordion-wrapper {
    padding-left: 20px;
}

.ClassAccordion .accordion-wrapper .accordion-content {
    max-width: 1000px;
}

.ClassAccordion * {
    animation: spawn .3s ease-in-out;
}

.ClassAccordion .unactive {
    display: none;
}

.ClassAccordion *::-webkit-scrollbar {
    width: 0;
}

.ClassAccordion .statusArrow {
    margin: 0;
    display: inline-block;
    transform-origin: 50% 50% 0;
    transform: rotate(-90deg) translate(0, 10px);
    transition: all .2s ease;
}

.ClassAccordion .downArrow {
    transform: rotate(-90deg) scaleX(-1) translate(0, 10px);
}

/* desktop gui */
@media (min-width: 1281px) {

    .ClassAccordion .accordion-wrapper .accordion-content {
        font-size: 1.1rem;
        max-width: 1200px;
    }

    .ClassAccordion .accordion-title {
        font-size: 2.5rem;
    }

    .ClassAccordion .accordion-wrapper {
        padding-left: 40px;
    }
}



@keyframes spawn {
    from {
        transform: translate(20px);
    }

    to {
        transform: translate(0);
    }
}