.ClassAccordion {
    padding: 3px 0;
    padding-bottom: 15px;
}

.ClassAccordion .keyWord{
    color: var(--teal);
}

.ClassAccordion pre {
    display: inline;
}

.ClassAccordion .accordion-title {
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
    color: var(--lightGreen);
}

.ClassAccordion .accordion-wrapper {
    overflow: hidden;
    overflow-y: scroll;
    /* transition: height .5s; */
    padding-left: 20px;
}

.ClassAccordion .accordion-wrapper .accordion-content {
    max-width: 1000px;
    overflow: hidden;
}

.ClassAccordion .unactive {
    height: 0;
}

.ClassAccordion *::-webkit-scrollbar {
    width: 0;
}