.DataSheetItem #switchDataSheet {
    display: none;
}

.DataSheetItem label {
    height: 60px;
    width: 180px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    position: relative;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0%);
    margin: 2vw 0;
    font-weight: bold;
    cursor: pointer;
    -webkit-box-shadow: 8px 8px 24px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 8px 8px 24px 0px rgba(0, 0, 0, 1);
    box-shadow: 8px 8px 24px 0px rgba(0, 0, 0, 1);
}

.DataSheetItem label:active {
    -webkit-box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 1);
    box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 1);
}

.DataSheetItem .gray {
    background-color: var(--darkGray);
    color: var(--primaryColor);
    border: solid .7rem var(--secondaryColorLight);
}

.DataSheetItem .brown {
    background-color: var(--darkBrown);
    color: var(--secondaryColor);
    border: solid .7rem var(--darkerBrown);
}