.footer {
    position: relative;
    bottom: 0;
    background: var(--secondaryColor);
    color: var(--primaryColor);
    z-index: 99;
    width: 100%;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 74px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer .copyright {
    font-size: 10px;
    text-align: center;
    padding-top: 4px;
    letter-spacing: 1px;
    word-spacing: 1.5px;
    cursor: default;
    padding-bottom: 6px;
    color: #9e9e9e;
}

/* linea che separa il nome dell'azienda dal resto */
.footer hr {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 10%;
}


/* -------------------- CONTENITORE "TITOLO" -------------------- */
.footer .logo {
    text-align: center;
    padding: 3vh 0;
    color: var(--text-special-color);
    font-weight: bold;
    font-size: x-large;
}


/* -------------------- CONTENITORE COPIRIGHT -------------------- */
.footer .copiright {
    clear: both;
    font-size: calc(2vw + 3px);
    text-align: center;
    position: relative;
    bottom: 0;
    padding: 1rem 0;
    line-height: 1.5;
}

/* links copiright */
.footer .copiright a {
    padding-left: 3vw;
    text-decoration: none;
    color: inherit;
}

.footer .copiright a:hover {
    color: var(--text-special-color);
}

.footer .copiright a:focus {
    outline: none;
}


/* -------------------- CONTENITORE ATTRIBUTIONS X LICENZE FREE -------------------- */
.footer .attribution {
    width: 100%;
    text-align: center;
    padding: 30px 0;
    width: fit-content;
}

.footer .attribution span {
    display: block;
    text-align: left;
}

.footer .attribution a {
    text-decoration: none;
    color: #bb5ef1c0;
}

.footer .attribution a:hover {
    color: #bb5ef1;
}



/* ----------------- DESKTOP GUI ----------------- */
@media (min-width: 1281px) {
    .footer {
        font-size: 24px;
        padding-bottom: 83.99px;
    }

    /* linea che separa il nome dell'azienda dal resto */
    .footer hr {
        display: none;
    }

    /* -------------------- CONTENITORE COPIRIGHT -------------------- */
    .footer .copiright {
        font-size: 1rem;
    }

    /* -------------------- CONTENITORE "TITOLO" -------------------- */
    .footer .logo {
        padding: 0 2rem;
        height: calc(9vw);
        max-height: calc(50px + 3vw);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3vw;
    }
}